* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  min-width: 370px;
}

.extracted-word-count {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
}

.extracted-word-count > h3 {
  margin-top: 0;
  margin-bottom: 6px;
}

.gray {
  color: #757d84;
}

.blue {
  color: #2c77ff;
}

.green {
  color: #119411;
}

.orange {
  color: #d4970f;
}

.violet {
  color: #ad28bd;
}

.red {
  color: #ff150a;
}

.extracted-word-count > p {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.extracted-word-count > p > span.copy {
  cursor: pointer;
  transition: 100ms;
}

.extracted-word-count > p > span.copy:hover {
  font-weight: 600;
}

.extracted-word-count > p > span.copy:active {
  font-weight: inherit;
}

img {
  width: 100%;
}

.reload-button, .open-button {
  position: absolute;
  top: 0;
  padding: 0.9rem;
  transition: 100ms;
  cursor: pointer;
}

.open-button {
  left: 0;
  transform: scaleX(-100%);
  border-radius: 0 0 6px 0;
  margin: 2px;
}

.reload-button {
  right: 0;
  border-radius: 0 0 0 6px;
}

.reload-button:hover, .open-button:hover {
  background-color: rgb(227, 227, 227);
}